body {
  font-family: "Segoe UI", "DejaVu Sans",Verdana, sans-serif;
  background: url('/image/fond.jpg') repeat;
  font-size:0.8em;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
}
.monBody #container {
  width: 900px;
  margin: 0 auto;
  text-align: left;
  background:#ffffff;
}
.monBody #header {
    height:300px;
}
.monBody #menu {
height:22px;
color:#ffffff;
font-size:1.4em;
background:#000000;
}
.monBody #contenu {
 padding:20px;
}
.monBody #footer {
padding: 0 10px;
font-size:0.8em;
text-align:center;
height:150px;
background:url(/image/footer.jpg) no-repeat;
}
#menu a	{
color:#ffffff;
text-decoration:none;
}
#menu {
text-align: center;
}
#LogoNode {
  max-height: 20%;
  max-width: 20%;
}
.tabpayscir  {
float:right;
justify-self: flex-end;
padding:10px;
border:1px solid black;
margin:10px
-moz-border-radius:15px;
border-radius:15px;
}

table.tabpayscir tbody tr td img {
  width: 40px;
}

.myboth  {
clear:both;
}
a  {
text-decoration:none;
color:#0072ff;
}

p{
  margin: 0;
}
.lienNotFound {align:center; style="background-color: #1d81b1;color: #FFFFFF;text-transform: uppercase;"}
.photoNotFound {
max-height: 40%;
max-width: 40%;
}

/*H O M E*/

.contains{
  display: flex;
  justify-content: center;
}

.dernierRes{
  width: 220px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
}

.upp{
  text-transform: uppercase;
  text-decoration:underline ;
  text-align: center;
  padding: 5px;
}

/* détail pilote & répertoire */
.lettreRepertoire{
text-align: center;
}
.lettre{
margin: 5px;
}
.sizeImageInfoPilote{
height: 100px;
width: 100px;
margin:10px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.contenuPilote {
  margin-top: 50px;
  display: flex;
}

.info1{
  margin-left: 10px;
}

.info2{
  margin-left: 50px;
}

/* /////////////////////// */

/* détail circuit */
.sizeImageListeCircuit{
height: 32px;
width: 32px;
}

.imagesDetailCircuit{
height: 190px;
width: 300px;
}

.informationsComplestDetailCircuit{
display: flex;
text-align: start;
}

.infosCircuit{
  padding-left: 10px;
}

.text{
  text-align: justify;
  padding-right: 170px;
  margin-top : 20px;
}
/* /////////////////////// */

/* détail écurie */

.imagesDetailEcurie{
width: 200px;
}
.infosEcurie{
  padding-left: 20px;
}

.piloteInfoBulle{
  margin-top:20px;
  width: 200px;
}

.displayVoitureEcurie{
display: inline-block;
margin-left: 10px;
margin-top: 10px;
}
.sizeImageVoitureEcurie{
height: 100px;
width: 100px;

}

.informationsComplestDetailEcurie{
  display: flex;
  text-align: start;
  }
/* /////////////////////// */

/* infobulle pilote écurie */
.tooltip
{
text-decoration:none;
position:relative;
}
.tooltip span
{
display:none;

-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
color:black;
background:white;
}
.tooltip span img
{
float:left;
margin:0px 8px 8px 0;
}
.tooltip:hover span
{
display:flex;
position:absolute;
top:0;
left:0;
z-index:1000;
width: 230px;
min-height:128px;
border:1px solid black;
margin-top:12px;
margin-left:32px;
overflow:hidden;
padding:8px;
}
/* /////////////////////// */


/* R E S U L T A T S */

.contenu{
  display: inline;
}

.justify {
  text-align: justify;
}

/**Tableau**/
.table td, .table th {
	border : 1px;
	border-style:solid;
	border-color:black;
	width:20%;
	height: 30px;
}

.table{
	border-collapse: collapse;
	margin: auto;
  text-align: center;
  margin-bottom: 20px;
}