{{> lettres}}
<h1> Mettre ici les infos pilotes</h1>

	 {{#each listeInfoPilote}}
    

     <div class="displayPilote">
          <a href="/detailInfoPilote/{{this.pilnum}}"> 
            <img class="sizeImageInfoPilote" src="/image/pilote/{{this.phoadresse}}" alt="image du pilote" />
          </a>
           <p> {{this.pilprenom}} {{this.pilnom}}</p>

     </div>
   

     

    {{/each}}
