<!DOCTYPE html>
<html lang="fr">

<head>
	<title> {{title}}</title>
	<meta charset="UTF-8" />
	<link rel="icon" type="image/x-icon" href="/image/favicon.png" />
	<link href="/css/lightbox.css" rel="stylesheet" />
	<link rel="stylesheet" href="/css/structure.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body class="monBody">
<script src="../dist/js/lightbox-plus-jquery.min.js"></script>
<script src="/js/lightbox.js"></script>
<div id="container">
	<div id="header">
	<img src="/image/header.jpg" alt="WROOM l'encyclopédie de la F1" />
	</div>
	<div id="menu">
		<a href="/pilotes">PILOTES</a> |
		<a href="/circuits">CIRCUITS</a> |
		<a href="/ecuries">ECURIES</a> |
		<a href="/resultats">RESULTATS</a> |
		<a href="/sponsor">SPONSORS</a> |
		<a href="/menu">Retour au menu</a>
	</div>
	<div id="contenu">
		<br/>
		<br/>
			{{{body}}}
	</div>
				<div id="footer">
					L'encyclopédie de la F1 depuis janvier 2020 (en NodeJS)
					<br />
					© IUT du Limousin DUT Informatique année 2
					<br />
					<br />
                Appllication réalisée par X... Y.... & A... B....
                <br />
					<img src="/image/nodejs.png" id= "LogoNode" alt="Logo NodeJs" title="Logo Node.JS" />
			</div>

</div>
</body>
</html>
