<h1>Ajouter un Circuit</h1>

<form action="/circuitAjoute" method="post">
  <label>Nom</label><input type="text" name="cirnom"><br />
  <label>Longueur</label><input type="text" name="cirlongueur"> m<br />
  <label>Pays</label>
  <select name="paynum">
      {{#each listePays}}
      <option value="{{this.paynum}}">{{this.paynom}}</option>
      {{/each}}
  </select><br />
  <label>Image</label><input type="file" name="ciradresseimage" multiple><br />
  <label>Nombre de spectateurs</label><input type="text" name="cirnbspectateurs"> personnes<br />
  <label>Description</label><input type="textarea" name="cirtext"><br />
  <input type="submit" value="ajouter">
</form>
