<meta http-equiv="Refresh" content="2; url=/pilotes" />
<<<<<<< HEAD
<p>Le pilote a été modifié</p>
=======
<p>Le pilote a été modifié ! patientez(2s)...</p>
>>>>>>> f3c26913dcb4f502921ca45b50fcd4b48dceec19
